<?xml version="1.0" encoding="UTF-8" ?>
<suite name="Suite 1">

    <Listeners>
        <Listener class-name="org.cb.ta.test.common.TestListener"/>
    </Listeners>
    <test name="Test 2"> <!--parallel="true" thread-count="5"-->
        <packages>
            <package name="org.cb.ta.test"/>
            <exclude name="exclude"/>
            <classes>
                <class name="org.cb.ta.test.ViaPort.TestHomePage"/>
            </classes>
        </packages>
    </test>
</suite>